
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans|Poiret+One|Quicksand|Sacramento');

/* 
font-family: 'Open Sans Condensed', sans-serif; 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Sacramento', cursive;
*/